.git
.gitignore
.vscode
.idea

**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/*.pyc

**/node_modules/
**/.next/

**/venv/
**/.venv/

**/.refactor_repos/
**/.refactor_staging/

**/.env
**/.env.*

*.log
