ARTIFACT_DIR=artifacts
LLM_PROVIDER=azure
AZURE_TENANT_ID=your_tenant_id
AZURE_CLIENT_ID=your_client_id
AZURE_CLIENT_SECRET=your_client_secret
AZURE_OPENAI_ENDPOINT=your_openai_endpoint
AZURE_OPENAI_API_VERSION=your_openai_api_version
AZURE_OPENAI_CHATGPT_DEPLOYMENT=your_openai_chatgpt_deployment